%nav.navbar.navbar-dark.bg-dark
  .navbar-brand
    %span.navbar-brand.mb-0.h 収入詳細ページ
  .nav
    %a{href: incomes_path, class: 'nav-link'}
      %button.btn.btn-sm.btn-outline-secondary 戻る
.p-3.mb-2.bg-secondary.text-white
  .container
    .border.border-white
      .h2.mx-auto{style:"width: 200px;"} 内容
      %br/
      = "日付："
      .form-control.form-control-lg
        = @income.date
      %br/
      = "科目名："
      .form-control.form-control-lg
        = @income.name
      %br/
      = "備考："
      .form-control.form-control-lg
        = simple_format(@income.description)
      .mx-auto{style:"width: 200px;"}
        %button
          = link_to "編集", edit_income_path(@income.id)
        %button
          = link_to "削除", income_path(@income.id), method: :delete, data: { confirm: "本当に削除しますか？"}